* {
	box-sizing: border-box;
}

html {
	font-family: verdana;
}

body {
	margin: 0;
	padding: 0;
}
	
header {
	background: #F8F8F8;
	color: #C1C2C4;
	height: 50px;
	text-transform: uppercase;	
	text-decoration: none;
	padding: 20px;
}

.container {
	width: 80%;
	margin: auto;
}

.phone {
	float: left;
	overflow: auto;
	text-decoration: none;
}

.header_menu {
	float: right;
	overflow: auto;
	text-decoration: none;
}

#magnifying_button {
	display: inline-block;
	width: 1.5rem;
}

.no_border {
	border: none;
}

.border {
	border: 1px solid;
}

.border_left {
	border-left: 1px solid #B8B8B8;
}

.search {
	display: inline-block;
	background-color: #F8F8F8;
	border: none;
	outline: none;
}

input {
	background-color: #F8F8F8;
	border: none;
	outline: none;
	border-width: 0px;
	    border-style: none;
	    border-color: initial;
	    border-image: initial;
		text-transform: uppercase;
}

input::placeholder-shown {
	font-family: inherit;
	    font-size: 100%;
	    line-height: 1.15;
	    margin: 0;
		text-transform: uppercase;	
}

